 
#header{
    background-color: rgb(17, 17, 17);
    
    width: 100%;
}
.title{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
   
   
   
}
.title a {
    margin-top: 10px
}
a{
    color: white;

}
a:hover{
    color: #4caf50
}
.ad_logout{
    margin-left: 1000px;
    margin-top: -33px;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    background: #eee;
}
.content-left{
    background-color: rgb(99, 98, 98);
    width: 23%;
    height:600px;
}

ul li{
   list-style: none;
}
.dropdown-item:active {
    
    text-decoration: none;
    background-color: #4caf50;
}
.row {
    
    margin-left: 500px;
    margin-top: -150px;
}
.nav-item{
    display: block;
    padding: .5rem 1rem;
}
.nav-item1{
    display: block;
    padding: .5rem 1rem;
}
.nav-item1 i{
   
    font-size: 18px;
    margin-left: 15px;
}
.nav-item1 i:hover{
    color: #4caf50
}
.nav-item1 a:hover{
    color: #4caf50
}
.dropdown-menu a:hover{
    color: #4caf50
}
/*noi dung*/
.content-right{
    width: 75%;
 }
 .content-right h3{
     color: #4caf50;
     margin-left: 10%;
     margin-top: 3%;
 }
 
.table{
width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: white;
    margin-left: 13px;
    margin-top: 30px;
}
.text-primary {
    color: #4caf50 !important;
    margin-left: 10px;
}
.form-group{
    margin-left :5%;
    margin-right: 5%;
    margin-top: 3%;
}