#header {
  background-color: black;
}

.title {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 130px;
  background-color: black;
}

a {
  color: white;
}
.title-left {
  float: left;
  margin-left: 5%;
  margin-top: 10px;
  width: 20%;
}
.center {
  width: 50%;
  display: inline-block;
  text-align: center;
  margin-top: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
a:hover {
  color: #6495ed;
}
.ad_logout {
  margin-left: 1000px;
  margin-top: -40px;
  font-family: Arial, Helvetica, sans-serif;
}
.title-right {
  float: right;
  width: 30%;
}
.content {
  width: 100%;
  height: 800px;
  background-color: #f8f8ff;
}
.content-left {
  background-color: black;
  width: 23%;
  height: 800px;
  float: left;
}
.content-right {
  float: right;
}
ul li {
  list-style: none;
}
.dropdown-item:active {
  text-decoration: none;
  background-color: #6495ed;
}
.row {
  margin-left: 500px;
  margin-top: -150px;
}
.nav-item {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-item1 {
  display: block;
  padding: 0.5rem 1rem;
}
.nav-item1 i {
  font-size: 18px;
  margin-left: 15px;
}
.nav-item1 i:hover {
  color: #6495ed;
}
.nav-item1 a:hover {
  color: #6495ed;
}
.dropdown-menu a:hover {
  color: #6495ed;
}
/* Nội dung */
#xoa {
  color: black;
}
.title-module {
  font-size: 25px;
  color: gray;
  font-weight: bold;
}

.table.list-course,
table.list-course td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
table {
  margin-top: 40px;
  background-color: whitesmoke;
  color: honeydew;
}
.name {
  background-color: gray;
  color: lavender;
}
body {
  position: relative;
  z-index: 100%;
}
